
*, *::before, *::after {

    margin:0;
    padding:0;
}
body 
{
    padding:0;
    margin:0;
    font-size:1.5em;
    font-family: 'Open Sans', sans-serif;   
}

.logo 
{
    width:150px;
}
.content-container {
    position: absolute;
    width:100%;
    height:100%;
    z-index: -100;
}
.header {
    width:100%;
    
    position: relative;
    padding:20px;
    height:1000px;
    margin:0;
    padding:0;
    background:url(./images/lion-wild-africa-african.jpg) no-repeat center center / cover;
    filter:brightness(50%);
}

.header .hero {
  
    padding:10px;
    width:40%;
    margin: 100px 20px auto;
    color:white;
}
.back 
{
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -100;
    position: absolute;
    filter:brightness(60%);
}
.back img {
    position:fixed;

}

.button-group {
    margin-top:30px;
}
.btn {
    
    padding:8px 20px;
    border:#ccc;
 
}
.btn.about-us {
    background-color:purple;
}

.btn.contact {
  background-color: greenyellow;
}

nav 
{
   width:100%;
    padding:10px;
   display:flex;
   justify-content:right;
   
   align-items: center;
}

nav ul 
{
    display:flex;
    margin-left:auto;
    justify-self: right;
    list-style-type: none;
}

nav ul li{
    margin-right:50px;
}
nav a {
    text-decoration: none;
    text-transform:uppercase;
    color:white;
}